/* app.component.css */

.container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
  }
  
  .center-image {
    display: block;
    margin: 0 auto;
  }
  
  .center-text {
    margin-top: 20px; /* Adjust as needed */
  }
  
  .center-buttons {
    margin-top: 20px; /* Adjust as needed */
  }
  