<mat-toolbar color="primary" class="navbar">
    <div>Foodies</div>
    <div>
        <span routerLink="/home">Home</span>
        <span>About</span>
        <span routerLink="/">Contact</span>
    </div>
</mat-toolbar>



<div class="card-container">
    <div class="test">
      <mat-card class="small-card">
        <mat-card-header>
          <mat-card-title>
            Food-1
          </mat-card-title>
          <mat-card-subtitle>
            Author
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://codeskulptor-demos.commondatastorage.googleapis.com/GalaxyInvaders/back05.jpg"
          alt="Image" class="class-image">
        <mat-card-content>
          This is the content of the card.
        </mat-card-content>
        <button mat-button mat-raised-button >Explore</button>
      </mat-card>
    </div>
    <div>
      <mat-card class="small-card">
        <mat-card-header>
          <mat-card-title>
            Food-2
          </mat-card-title>
          <mat-card-subtitle>
            Author
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_brown.png"
          alt="Image" class="class-image">
        <mat-card-content>
          This is the content of the card.
        </mat-card-content>
        <button mat-button mat-raised-button >Explore</button>
      </mat-card>
    </div>
    <div>
        <mat-card class="small-card">
            <mat-card-header>
              <mat-card-title>
                Food-3
              </mat-card-title>
              <mat-card-subtitle>
                Author
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_brown.png"
              alt="Image" class="class-image">
            <mat-card-content>
              This is the content of the card.
            </mat-card-content>
            <button mat-button mat-raised-button >Explore</button>
          </mat-card>
    </div>

  </div>
  <div class="card-container">
    <div class="test">
    <mat-card class="small-card">
        <mat-card-header>
          <mat-card-title>
            Food-4
          </mat-card-title>
          <mat-card-subtitle>
            Author
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://commondatastorage.googleapis.com/codeskulptor-assets/lathrop/nebula_brown.png"
          alt="Image" class="class-image">
        <mat-card-content>
          This is the content of the card.
        </mat-card-content>
        <button mat-button mat-raised-button >Explore</button>
      </mat-card>
    </div>
  </div>
  