/* navigation.component.css */

.mat-toolbar {
    background-color: #cb76d6; /* Change the background color */
    color: white; /* Change the text color */
    font:bolder;
  }
  
  .spacer {
    flex: 1; /* Pushes the buttons to the right */
  }
  
  /* Style the buttons */
  button.mat-button {
    color: white; /* Text color */
  }
  
  button.mat-button:hover {
    background-color: #1565C0; /* Hover background color */
  }
  
  button.mat-button:focus {
    outline: none; /* Remove the outline when focused */
  }
  
  .mat-toolbar span:first-child {
    font-family: 'Lato', sans-serif; /* Replace 'YourCustomFont' with your desired font */
  }