/* navigation.component.css */

.mat-toolbar {
    background-color: #82d4e2;
    /* Change the background color */
    color: rgb(46, 31, 31);
    /* Change the text color */
    font: bolder;
}

.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.class-image {
    width: 45%px;
    /* Adjust as needed */
    height: 20%;
    /* Maintain aspect ratio */
    max-width: 300px;
    /* Maximum width */
}



.small-card {
    width: 100%;
    background-color: goldenrod;
    /* Adjust as needed */
}
.card-container {
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Add space between cards */
  }
  
